<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You are now logged in </h1>
    <p class="secret-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices pellentesque imperdiet. Aliquam viverra justo diam, nec dictum nunc iaculis id. Sed semper augue et magna finibus laoreet. In purus turpis, accumsan ac orci vitae, efficitur placerat ipsum. Phasellus ac imperdiet massa. Mauris pretium, purus sed mattis blandit, dolor felis aliquam orci, vel luctus felis leo ac nunc. Donec dignissim fringilla libero at accumsan. Curabitur volutpat euismod quam, eu dignissim nisi mollis sit amet. Suspendisse eu neque nisi.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
